body{
    font-family: Arial, sans-serif;
    font-size: 100%;
    background-color: #edefaf;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    padding: 50px 0;
    background-color: #f6eda2;
}
h1,h2{
    color: #1dbc50;
    text-align: center;
}
nav{
    background-color: #bce45f;
    border-color: #17ac82;
    border-style: solid;
    min-height: 64px;
    
}
nav li{
    float: left;
    width: 100px;
}
nav a{
    display: block;
    color: #2b4807;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
}
nav li a:hover{
    color: #bce45f;
    background-color: #2b4807;
}
p{
    font-size: 16px;
    line-height: 1.3;
    margin-top: 0.1em;
    margin-bottom: 0;
    color: #9c583e;
}

footer{
    background-color: #f6c000;
    color: #5c1113;
    padding: 20px;
    margin-top: 30px;
    font-weight: bold;
}
form{
    padding: 15px 0;
    float: right;
}
.form_comment{
    padding: 15px 0;
    float: none;
}